# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
node_modules
src
test
.travis.yml
do-uglify.js
git-push.sh
mocha.opts
npm-debug.log
package.json
package-lock.json
README.md